*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* variables */
:root{
    --main-color-green:#74b72e;
    --main-color-orange:#ec9706;
    --padding-top:80px;
    --padding-bootom:50px;
    --color-font-text:#000000cc;
    --background-sections:#ecececec;
}

/* responsive */
@media (min-width:768px) {
    .container{
        width: 770px;
    }
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Poppins', sans-serif;
}
input:focus , textarea:focus{
    outline: none;
}
.header{
    position: fixed;
    top: 24px;
    transform: translate(-50%, -50%);
    z-index: 2;
    left: 50%; 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,rgba(0, 0, 0, 0.07) 0px 4px 4px;
    background-color: white;
    width: 100%;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
@media (max-width:991px) {
    .header .container{
        padding-top: 10px;
    }
}

.header .container .logo h1{
    font-size:40px ;
    color: var(--main-color-orange);
}
@media (max-width:991px) {
    .header .container .logo h1{
        font-size: 35px;
    }
}
.header .container .logo h1 > a{
    color: var(--main-color-green);
}
.header .container .bars{
    border: 2px solid #0000002b;
    padding: 0 10px;
    border-radius: 5px;
}
.header .container .bars:hover{
    border-color: var(--main-color-orange);
}
@media (min-width:992px){
    .header .container .bars{
        display: none;
    }
}
.bars i{
    font-size: 40px;
    font-weight: 600;
    color: #00000099;
}
.header .container ul{
    display: flex;
    
}
@media (max-width:991px) {
    .header .container ul{
        position: absolute;
        top: 70.9px;
        right: 0;
        width: 100%;
        display: none;
        transition: 0.3s;
        z-index: 2;
        background-color: white;
    }
    .header .container .bars:hover + ul{
        display: block;
    }
}
.header .container ul li a{
    display: block;
    padding: 17px;
    font-size: 16px;
    color: var(--color-font-text);
    transition: 0.3s;
    font-weight: 600;
}
@media (max-width:991px) {
    .header .container ul li a{
        padding: 20px;
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid #00000036;
        color: #0000008f;
    }
    .header .container ul li a:hover{
        color: black;
    }
}
.header .container ul li .active , .header .container ul li a:hover{
    color: var(--main-color-orange);
}
@media (max-width:991px) {
    .header .container ul li .active , .header .container ul li a:hover{
        color: black;
    }
}
/* Home */
.Home .container{
    position: relative;
    background-image: url(../image/carousel-1.jpg);
    background-size: cover;
    height: 100vh;
    z-index: 1;
}
@media (max-width:991px) {
    .Home .container{
        height: 80vh;
    }
}
.Home .container::after{
    content: "";
    position: absolute;
    background-color: #0000009e;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.Home .container .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color: white;
    text-align: center;
    width: 100%;
}
.Home .container .text h1{
    font-size: 50px;
}
@media (max-width:991px) {
    .Home .container .text h1{
        font-size: 30px;
    }
}
.Home .container .text h1 span{
    color: var(--main-color-orange);
}
.Home .container .text p{
    padding: 10px 136px;
    font-size: 20px;
}
@media (max-width:991px) {
    .Home .container .text p{
        padding: 20px 0 0;
        font-size: 13px;
    }
}
.Home .container .button{
    padding: 10px 0;
}
.Home .container .button input {
    padding: 15px 30px;
    margin: 20px;
    font-size: 15px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
    border:none;

}
@media (max-width:991px) {
    .Home .container .button input{
        margin: 10px;
    }
}
.Home .container .button input:first-child{
    background-color: var(--main-color-orange);
}
.Home .container .button input:first-child:hover{
    color: var(--main-color-orange);
    background-color:unset;
    border: 1px solid var(--main-color-orange);
}
.Home .container .button input:last-child{
    background-color: var(--main-color-green);
}
.Home .container .button input:last-child:hover{
    color: var(--main-color-green);
    background-color: unset;
    border:1px solid var(--main-color-green);
} 
/* Book */
.Book{
    background-color: var(--background-sections);
}
.Book .container{
    display: flex;
    gap: 40px;
}
@media (max-width:991px) {
    .Book .container{
        flex-direction: column;
    }
}
.Book .container .text{
    padding-top: var(--padding-top);
    flex-basis: 60%;
}
.Book .container .text h5{
    color: var(--main-color-green);
    font-size: 24px;
    font-weight: normal;
}
.Book .container .text h1{
    font-size: 36px;
    color: var(--color-font-text);
}
@media (max-width:991px) {
    .Book .container .text h1{
        font-size: 19px;
    }
}
.Book .container .text .P{
    padding: 20px 0;
}
.Book .container .text .P p{
    padding: 10px 0;
    font-size: 15px;
    color: gray;
}
.Book .container form{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color-orange);
    padding: 30px;
    gap: 20px;
    flex-basis: 40%;
}
.Book .container form .row{
    position: relative;
}
.Book .container form .row i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: normal;
}
#mobile{
    font-weight: bold;
}
.Book .container form input{
    padding: 15px;
    background-color: unset;
    border:1px solid white;
    color: white;
    border-radius: 7px;
    width: 100%;
}
.Book .container form input::placeholder{
    color: white;
}
.Book .container form input:focus , .Book .container form select:focus{
    outline: none;
}
.Book .container form select{
    padding: 15px;
    background-color: unset;
    border:1px solid white;
    color: white;
    border-radius: 7px;
}
.Book .container form input:last-child{
    background-color: white;
    color: var(--main-color-orange);
    font-size: 16px;
}
.Book .container form input::after{
    content: "\f560";
    font-family: 'Font Awesome 5 free';
    color: black;
    font-weight: 600;
}
/* About */
.About{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bootom);
}
.About .container{
    display: flex;
    gap: 40px;
}
@media (max-width:991px) {
    .About .container{
        flex-direction: column;
        
    }
}
.About .container .video{
    flex-basis: 50%;
    position: relative;
}
.About .container .video::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--main-color-orange);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.About .container .video::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--main-color-orange);
    border-radius: 50%;
    width: 0;
    height:0;
    z-index: 1;
    animation: flash-video 1s ease-in-out infinite;
}
@keyframes flash-video {
    from{
        width: 0;
        height: 0;
    }
    to{
        width: 200px;
        height:200px;
        opacity: 0;
    }
}
.About .container .video img{
    max-width: 100%;
    border-radius: 15px;
}
.About .container .video > i{
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 1;
    font-size: 50px;
}
.About .container .About-Us{
    flex-basis: 50%;
    position: relative;
    transform: translateY(20%);
}
@media (max-width:991px) {
    .About .container .About-Us{
        transform: translateY(0);
    }
}
.About .container .About-Us h5{
    color: var(--main-color-green);
    font-size: 24px;
    font-weight: normal;
}
.About .container .About-Us h1{
    font-size: 36px;
    color: var(--color-font-text);
}
@media (max-width:991px) {
    .About .container .About-Us h1{
        font-size: 19px;
    }
}
.About .container .About-Us .P{
    padding: 20px 0;
}
.About .container .About-Us .P p{
    padding: 10px 0;
    font-size: 15px;
    color: gray;
}
.About .container .About-Us input{
    font-size: 17px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color:var(--main-color-orange);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.About .container .About-Us input:hover{
    border: 1px solid var(--main-color-orange);
    color: var(--main-color-orange);
    background-color: unset;
}
/* Features */
.Features{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bootom);
}
.Features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(351px , 1fr));
    gap: 40px;
}
@media (max-width:991px) {
    .Features .container{
        grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    }
}
.Features .container .Choose-us{
    flex-basis: 40%;
}
.Features .container .Choose-us h5{
    color: var(--main-color-green);
    font-size: 24px;
    font-weight: normal
}
.Features .container .Choose-us h1{
    font-size: 44px;
    color: var(--color-font-text);
    padding-bottom: 20px;
}
@media (max-width:991px) {
    .Features .container .Choose-us h1{
        font-size: 19px;
    }
}
.Features .container .Choose-us .images{
    display: flex;
    overflow: hidden;
}
.Features .container .Choose-us .images .img{
    overflow: hidden;
}
.Features .container .Choose-us .images .col{
    display: flex;
    flex-direction: column;
}
.Features .container .Choose-us .images img{
    max-width: 100%;
    height: 100%;
    transition: 0.5s;
}
.Features .container .Choose-us .images img:hover{
    transform: scale(1.1);
}
.Features .container .Choose-us .images .col:first-child .img:first-child img{
    border-radius: 19px 0 0 0;
}
.Features .container .Choose-us .images .col:first-child .img:last-child img{
    border-radius: 0 0 0 19px;
}
.Features .container .Choose-us .images .col:last-child .img:first-child img{
    border-radius: 0 19px 0 0;
}
.Features .container .Choose-us .images .col:last-child .img:last-child img{
    border-radius: 0 0 19px 0;
}
.Features .container .Choose-us p{
    padding: 40px 0 0;
    font-size: 15px;
    color: gray;
}
.Features .container .Choose-us input{
    font-size: 17px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color:var(--main-color-orange);
    color: white;
    transition: 0.3s;
    width: 100%;
    margin: 30px 0;
    cursor: pointer;
}
.Features .container .features{
    flex-basis: 55%;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    gap: 20px;
}
.Features .container .features .feature{
    flex-basis: calc(50% - 20px);
}
.Features .container .features .feature img{
    width: 25%;
}
.Features .container .features .feature h1{
    font-size: 20px;
    padding: 10px 0;
    color: var(--color-font-text);
}
.Features .container .features .feature p{
    font-size: 15px;
    color: gray;
}
/* Menu */
.Menu{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bootom);
    background-color: var(--background-sections);
}
.Menu .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(283px , 1fr));
    gap: 20px;
}
.Menu .container .menu{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,rgba(0, 0, 0, 0.07) 0px 4px 4px;
}
.Menu .container .menu .img img{
    width: 20%;
}
.Menu .container .menu h1{
    font-size: 25px;
    color: var(--color-font-text);
    padding: 10px;
}
.Menu .container .menu p{
    padding: 10px 37px;
    color: gray;
    font-size: 15px;
}
/* Food-Menu */
.Food-Menu{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bootom);
}
.Food-Menu .container{
    overflow: hidden;
}
.Food-Menu .container h5{
    color: var(--main-color-green);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.Food-Menu .container > h1{
    font-size: 44px;
    color: var(--color-font-text);
    padding-bottom: 20px;
    text-align: center;
}
.Food-Menu .container .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Food-Menu .container .links a{
    margin: 10px;
}
.Food-Menu .container .links a input{
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    background-color: var(--main-color-orange);
    transition: 0.3s;
    border: none;
}
.Food-Menu .container .links a .active , .Food-Menu .container .links a input:hover{
    background-color:var(--main-color-green);
}
.Food-Menu .container .food-menu{
    display: grid;
    grid-template-columns: repeat(3 , 100%);
    overflow: hidden;
}
.Food-Menu .container .food-menu > .menu{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(377px , 1fr));
    padding-top:var(--padding-top);
    transition: 0.3s ease-in-out;
}
@media (max-width:991px) {
    .Food-Menu .container .food-menu > .menu{
        grid-template-columns: repeat(auto-fill , minmax(268px , 1fr));
    }
}
.Food-Menu .container .food-menu > .menu .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Food-Menu .container .food-menu > .menu .img img{
    width: 80%;
    border-radius: 20px;
}
.Food-Menu .container .food-menu > .menu:first-child > .text .row img{
    border-radius:0;
}
.Food-Menu .container .food-menu > .menu > .text .row img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.Food-Menu .container .food-menu > .menu > .text .row{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    gap: 15px;
    margin: 10px;
    
}
.Food-Menu .container .food-menu > .menu > .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}
.Food-Menu .container .food-menu > .menu > .text .row > .text h1{
    font-size: 20px;
    color:var(--color-font-text);
    text-align: start;
    
}
.Food-Menu .container .food-menu > .menu > .text .row > .text h1 span{
    color: var(--main-color-orange);
    font-size: 21px;
    margin-left: 10px;
    
}
.Food-Menu .container .food-menu > .menu > .text .row > .text p{
    color: gray;
    font-size: 16px;
}
/* Team */
.Team{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-top);
}
.Team .container > h5{
    color: var(--main-color-green);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.Team .container > h1{
    font-size: 44px;
    color: var(--color-font-text);
    padding-bottom: 20px;
    text-align: center;
}
.Team .container .Master-Chef{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(227px , 1fr));
    gap: 20px;
}
.Team .container .Master-Chef .chef{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,rgba(0, 0, 0, 0.07) 0px 4px 4px;
    border-radius: 10px;
    overflow: hidden;
}

.Team .container .Master-Chef .chef .img{
    position: relative;
}

.Team .container .Master-Chef .chef:hover .img::after{
    content: "";
    position: absolute;
    background-color: #ffffff59;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.Team .container .Master-Chef .chef img{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
    transition: 1s linear;
    height: 100%;
}
.Team .container .Master-Chef .chef:hover img{
    top: -7px;
}
.Team .container .Master-Chef .chef .icons{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
    
}
.Team .container .Master-Chef .chef .icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-color-orange);
    color: white;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    cursor: pointer;
    display: none;
}
.Team .container .Master-Chef .chef i:hover {
    background-color: var(--main-color-green);
    
}
.Team .container .Master-Chef .chef:hover i{
    display: flex;
}
.Team .container .Master-Chef .chef .text{
    text-align: center;
    padding: 10px 0;
}
.Team .container .Master-Chef .chef .text h1{
    color: var(--color-font-text);
    font-size: 21px;
}
.Team .container .Master-Chef .chef .text span{
    color: gray;
}
/* Client */
.Client{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bootom);
    background-color: var(--background-sections);
    
}
.Client .container .clients{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.Client .container .client{
    background-color: white;
    text-align: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,rgba(0, 0, 0, 0.07) 0px 4px 4px;
}
.Client .container .client img{
    border-radius: 50%;
}
.Client .container .client p{
    font-size: 14px;
    color: gray;
}
.Client .container .client h1{
    font-size: 20px;
    padding: 14px 0 2px;
}
.Client .container .client span{
    color: gray;
}
.Client .container > ul{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.Client .container > ul li{
    width: 10px;
    height: 10px;
    background-color: var(--main-color-orange);
    border-radius: 50%;
    margin: 7px;
    
}
/* Contact */
.Contact{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bootom);
}
.Contact .container > h5{
    color: var(--main-color-green);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.Contact .container > h1{
    font-size: 44px;
    color: var(--color-font-text);
    padding-bottom: 20px;
    text-align: center;
}
.Contact .container .contact{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(227px , 1fr));
    margin: 40px 0;
    background-color: var(--background-sections);
    padding: 50px;
    gap: 40px;
}
.Contact .container .contact .col{
    display: flex;
}
.Contact .container .contact .col > i{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-color-orange);
    width: 45px;
    height: 45px;
    color: white;
}
.Contact .container .contact .col .text{
    padding: 0 10px;
}
.Contact .container .contact .col .text h5{
    color: var(--main-color-green);
    font-size: 16px;
}
.Contact .container .contact .col span{
    color: var(--color-font-text);
    font-size: 15px;
}
.Contact .container .contact .col:last-child .text .social-media{
    padding: 5px 0;
}
.Contact .container .contact .col:last-child .text .social-media > i{
    padding:  0 8px;
    cursor: pointer;
    color: var(--main-color-orange);
}
.Contact .container .contact .col:last-child .text .social-media > i:hover{
    color: var(--main-color-green);
    
}
.Contact .container .location{
    display: flex;
    gap: 20px;
}
@media (max-width:991px) {
    .Contact .container .location{
        flex-direction: column;
    }
}
.Contact .container .location .map{
    flex-basis:45%;
}
.Contact .container .location .map iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px;
}
.Contact .container .location form{
    flex-basis:45%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Contact .container .location form input , .Contact .container .location form textarea{
    padding: 10px;
    border: 1px solid #80808033;
    font-size: 15px;
    border-radius: 8px;
}
.Contact .container .location form input:last-child{
    border: none;
    width: 60%;
    padding: 15px 28px;
    color: white;
    background-color: var(--main-color-orange);
}
/* Blog */
.Blog {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bootom);
}
.Blog .container > h5{
    color: var(--main-color-green);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
.Blog .container > h1{
    font-size: 44px;
    color: var(--color-font-text);
    padding-bottom: 20px;
    text-align: center;
}
.Blog .container .Food-Blog{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(377px ,1fr));
    gap: 20px;
}
@media (max-width:640px) {
    .Blog .container .Food-Blog{
        grid-template-columns: repeat(auto-fill , minmax(263px ,1fr));
    }
}
.Blog .container .Food-Blog .food-Blog{
    position: relative;
}
.Blog .container .Food-Blog .food-Blog .blog img{
    max-width: 100%;
    border-radius: 30px;
}
.Blog .container .Food-Blog .food-Blog .text{
    position: relative;
    bottom: 40px;
    background-color: white;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 27px;
    border-radius: 20px;
    width: 100%;
}
.Blog .container .Food-Blog .food-Blog .text h1{
    font-size: 20px;
    color: var(--color-font-text);
}
.Blog .container .Food-Blog .food-Blog .text .row-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:10px 0;
}
.Blog .container .Food-Blog .food-Blog .text .row-2 .col i{
    color: var(--main-color-orange);
}
.Blog .container .Food-Blog .food-Blog .text .row-2 .col span{
    color: gray;
    font-size: 14px;
}
.Blog .container .Food-Blog .food-Blog .text p{
    font-size: 13px;
    padding: 15px 0 0 0;
    color: gray;
}
.Blog .container .Food-Blog .food-Blog .text input{
    padding: 12px 22px;
    border: none;
    margin: 10px 0;
    color: white;
    background-color: var(--main-color-orange);
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.Blog .container .Food-Blog .food-Blog .text input:hover{
    background-color: unset;
    color:var(--main-color-orange);
    border: 2px solid var(--main-color-orange);
}
/* Footer */
.Footer{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bootom);
    background-color: var(--background-sections);
}
.Footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(281px , 1fr));
    gap: 40px;
}
.Footer .container .col h2{
    font-size: 20px;
    padding-bottom: 10px;
    color: var(--main-color-orange);
}
.Footer .container .col .contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Footer .container .col .contact .row i{
    color: var(--main-color-orange);
    padding-right: 10px;
}
.Footer .container .col .contact .row:last-child{
    display: flex;
}
.Footer .container .col .contact .row:last-child i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-color-orange);
    color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 10px;
    margin: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.Footer .container .col .contact .row:last-child i:hover{
    background-color: var(--main-color-green);
}
.Footer .container .col ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Footer .container .col ul li{
    position: relative;
    padding: 0 25px;
}
.Footer .container .col ul li::before{
    content: "\f105";
    font-family: 'Font Awesome 5 free';
    position: absolute;
    font-weight: 600;
    left: 0;
    font-size: 15px;
    color: var(--main-color-orange);
}
.Footer .container .col ul a{
    color: var(--color-font-text);
    font-size: 16px;
    transition: 0.3s;
}
.Footer .container .col ul a:hover{
    font-size: 18px;
    color: var(--main-color-orange);
}
.Footer .container .col p{
    font-size: 15px;
    color: gray;
}
.Footer .container .col .input{
    position: relative;
    padding: 10px 0;
}
.Footer .container .col .input input:first-child{
    border: 1px solid var(--main-color-orange);
    padding: 18px;
    width: 100%;
    border-radius: 12px;
}
.Footer .container .col .input input:last-child{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    padding: 13px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 7px;
    transition: 0.3s;
}
.Footer .container .col .input input:last-child:hover{
    background-color: unset;
    color: var(--main-color-orange);
}
